.icon-sm {
    font-size: 2rem ;
}
.icon-lg{
    font-size: 9rem;
}
.avatar-lg{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}
.avatar-sm{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
.avatar-md {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.icon-md {
    font-size: 3.5rem;
}
